body{
	background-color:lightgray;
}
.container{
	background-color: white;
}
#head{
	padding: 15px;
	height: 200px;
}
#menu{
	height: 35px;
	background-color: lightblue;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding:0;
}
#menu ul li{
	text-decoration: none;
	float: left;
	padding: 7px 15px;
}
.carousel{
	height:50px;
}
.tieude1{
	text-align: center;
	color: red;
	font-size: 24px;
}
.tieude{
	text-align: center;
	color: blue;
	font-size: 18px;
}